<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionalo.net</title>
    <!-- Google Font: Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Scripts/fontawesome-free/css/all.min.css">
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/adminlte.min.css">
</head>
<body>
    @*NAV*@
    @RenderBody()
</body>
</html>
