
@{
    ExLog ex = this.ViewBag.ex;
    ViewBag.Title = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionalo - Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/css/adminlte.min.css">
</head>
<body class="login-page" style="min-height:466px;">
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-warning" style="font-size:112px;margin:0px 0px 0px 0px;"> Ha ocurrido un error. </h2>
            <h3 style="color:#7e8a92;margin-bottom:15px;opacity:0.8">(Nada que no se pueda resolver)</h3>
            <div class="error-content" style="width:350px;margin-left:0px;margin-bottom:15px;">
                <p style="opacity:0.75">
                    Código para el equipo de soporte:<br /> <em>"@ex.id".</em><br />
                </p>
            </div>

            <!-- /.error-content -->
            <div style="height:50px;"></div>
            <h4 class="headline text-warning" style="font-size:26px;font-weight:bold"> Gracias por tu paciencia. </h4>
        </div>
        <!-- /.error-page -->
    </section>
</body>
</html>
