@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionalo - Management</title>
    <!-- Google Font: Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Scripts/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/adminlte.min.css">
</head>
<body class="login-page" style="min-height: 466px;">
    <div class="text-center">
        <div class="overlay">
            <div class="login-box" id="login-box">
                <!-- /.login-logo -->
                <div class="card card-outline card-header shadow-lg" id="logincard">
                    <div class="card-header text-left">
                        <a class="text-sm-left" href="@Url.Action("Login", "Account")" style="opacity:0.75;font-size:0.9rem"><i class="fas fa-arrow-alt-circle-left"></i> Volver al inicio de sesión</a>
                    </div>
                    <div class="card-body" id="cardbody">
                        <p class="login-box-msg" id="login-box-msg" style="opacity:0.75;font-size:0.85rem"  >Si olvidó su contraseña, le enviaremos un link a su casilla de correo electrónico para recuperarla.</p>
                        <div class="input-group mb-3">
                            <input type="email" id="email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end" style="display:flex">
                            <!-- /.col -->

                            <div class="col-12 mt-1 mb-1">
                                <button id="loginBtn" onclick="goRecover();" class="btn btn-primary btn-block"> Solicitar nueva contraseña</button>
                                <div id="error"></div>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/js/adminlte.min.js"></script>
    <script src="~/Scripts/toastr/toastr.min.js"></script>
    <script type="text/javascript">
        function goRecover() {
            var email = $('#email').val();
            let at = '@@';
            let url = '@Url.Action("PasswordRecoveryMail", "Account")?email=' + email;

            if (email != "" && email.includes(at) && email.includes(".")) {

                $.ajax({
                    url: url,
                    success: function (data) {
                        if (data == true) {
                            $('#cardbody').empty();
                            var html = '<p class="login-box-msg text-center" style="opacity:0.75;font-size:0.85rem;padding-bottom:5px;">Si su casilla coincide con nuestros registros, habrá recibido un correo con una URL para restablecer su contraseña. <br/><br/> Por las dudas, revise la carpeta de Spam.</p>';
                            $('#cardbody').append(html);
                        };
                        if (data == false) {
                            $('#cardbody').empty();
                            var html = '<p class="login-box-msg" style="opacity:0.8;color:brown;padding:0px 0px 0px 0px">Ocurrió un error inesperado.</p><br/><a href="gestionalo.info/Home/Contact"> Contáctenos. </a>';
                            $('#cardbody').append(html);
                        };
                    },
                })
            }
            else {
                $('#error').empty();
                console.log("error!");
                var _html = '<p class="mb-1 mt-1" style="opacity:0.5"> Ingrese una casilla de correo electrónico.</p>';
                $('#error').append(_html);
            }
        };
    </script>
</body>
</html>
